<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baseball.bunt.model.dao.CommunityDao">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type=='T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="type=='C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <!-- 게시글 리스트(페이징 처리) -->
    <select id="boardList" resultType="CommunityBoard">
        <![CDATA[
        SELECT community_board_id, user_id, content
        FROM (SELECT community_board_id, user_id, content, ROW_NUMBER() OVER (ORDER BY community_board_id DESC) AS rn FROM COMMUNITY_BOARD
        ]]>
        <include refid="criteria" />
        <![CDATA[
        ) AS Temp
        WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <!-- 검색한 게시글 개수 -->
    <select id="getTotalCount" resultType="int">
        select count(*) from COMMUNITY_BOARD where <include refid="criteria"></include> community_board_id > 0
    </select>

    <!-- 게시글 상세보기 -->
    <select id="getDetail" resultType="CommunityBoard" parameterType="int">
        SELECT * FROM COMMUNITY_BOARD WHERE community_board_id = #{communityBoardId}
    </select>

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="CommunityBoard">
        INSERT INTO COMMUNITY_BOARD (community_id, user_id, title, content) VALUES (#{communityId}, #{userId}, #{title}, #{content})
    </insert>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM COMMUNITY_BOARD WHERE community_board_id = #{communityBoardId}
    </delete>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="CommunityBoard">
        UPDATE COMMUNITY_BOARD SET title = #{title}, content = #{content}, mod_date = now() WHERE community_board_id = #{communityBoardId}
    </update>

</mapper>